<!DOCTYPE html>
html(lang="ja")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description", content="夜勤の休憩時間を計算するツールです。")
		meta(name="keywords", content="看護,看護師,仮眠,夜勤,ナース,計算,仮眠計算,休憩時間")
		.
			<meta property="og:url" content="https://nap-calculation.tantaku.xyz/" />
			<meta property="og:type" content="website" />
			<meta property="og:title" content="仮眠計算" />
			<meta property="og:description" content="夜勤の休憩時間を計算するツールです。" />
			<meta property="og:site_name" content="仮眠計算" />
			<meta property="og:image" content="https://nap-calculation.tantaku.xyz/common/img/ogp/ogp.jpg" />
			<meta name="msapplication-square70x70logo" content="/common/img/favicons/site-tile-70x70.png">
			<meta name="msapplication-square150x150logo" content="/common/img/favicons/site-tile-150x150.png">
			<meta name="msapplication-wide310x150logo" content="/common/img/favicons/site-tile-310x150.png">
			<meta name="msapplication-square310x310logo" content="/common/img/favicons/site-tile-310x310.png">
			<meta name="msapplication-TileColor" content="#0078d7">
			<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/common/img/favicons/favicon.ico">
			<link rel="icon" type="image/vnd.microsoft.icon" href="/common/img/favicons/favicon.ico">
			<link rel="apple-touch-icon" sizes="152x152" href="/common/img/favicons/apple-touch-icon-152x152.png">
		title 仮眠計算
		link(rel="stylesheet", href="/common/css/lib/destyle.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap")
		link(rel="stylesheet", href="/common/css/common.css")
		.
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-176744829-1"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());

				gtag('config', 'UA-176744829-1');
			</script>
	body
		.root
			.loading
				.loading_icon
					.loading_hitsuji
						img(src="/common/img/loading/hitsuji.png", alt="")
					.loading_fukidashi
						img(src="/common/img/loading/fukidashi.png", alt="計算中..")
			header.header
				.container
					h1
						a(href="/").header_logo
							img(src="/common/img/header/logo.png", alt="仮眠計算")
			main.main
				.container
					.mainContent
						.noticeBox
							.noticeBox_date 2020.08.29
							.noticeBox_text リニューアルしました！
						.contentSection
							form(action="/api.php", method="POST").form
								.fieldArea
									ul.fieldList
										li
											.field
												.field_label
													label 人数
												.field_select
													select(name="count")
														- for (var x = 3; x <= 5; x++)
															option(value=x selected=(x === 4)) #{x}人
										li
											.field
												.field_label
													label 休憩開始時間
												ul.field_column2
													li
														.field_select
															select(name="startHour")
																- for (var x = 19; x <= 24; x++)
																	option(value=x selected=(x === 22)) #{x}時
																- for (var x = 1; x <= 2; x++)
																	option(value=x) #{x}時
													li
														.field_select
															select(name="startMinute")
																- for (var x = 0; x < 60; x=x+5)
																	option(value=x selected=(x === 0)) #{x}分
										li
											.field
												.field_label
													label 休憩終了時間
												ul.field_column2
													li
														.field_select
															select(name="endHour")
																- for (var x = 4; x <= 7; x++)
																	option(value=x selected=(x === 5)) #{x}時
													li
														.field_select
															select(name="endMinute")
																- for (var x = 0; x < 60; x=x+5)
																	option(value=x selected=(x === 0)) #{x}分
										li
											.field
												.field_label
													label 休憩重複時間
												ul.field_column2
													li
														.field_select
															select(name="duplicateHour")
																- for (var x = 0; x <= 2; x++)
																	option(value=x selected=(x === 0)) #{x}時間
													li
														.field_select
															select(name="duplicateMinute")
																- for (var x = 0; x < 60; x=x+5)
																	option(value=x selected=(x === 30)) #{x}分
								.fieldBtnArea
									button(type="submit").btn.btn-calc 計算する
						.contentSection
							.resultArea
			footer.footer
				.container
					.footer_1.
						<div class="line-it-button" data-lang="ja" data-type="share-a" data-ver="3" data-url="https://nap-calculation.tantaku.xyz/" data-color="default" data-size="small" data-count="false" style="display: none;"></div>
						<script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
					.footer_2
						.footer_copy copyright&copy; Tan 2020.
		script(src="/common/js/lib/jquery-3.5.1.min.js")
		script(src="/common/js/common.js")
